.contain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    padding: 15vh 0 0 0;
}

.text {
    color: black;
    font-size: 12px;
}

.name {
    color: rgb(168, 168, 168);
    font-size: 12px;
}