.contain {
    width: 100%;
    height: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20vh 0 0 0;
    z-index: 1;
}

.mainCont {
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.textCont {
    width: 300px;
    margin: 0;
    display: flex;
    justify-self: center;
}