.contain {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputCont {
    width: 60%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: auto;
}