.logo {
    width: 200px;
    height: auto;
}

.linkIcon {
    width: 70px;
    height: auto;
    margin: 0 0 20px 0;
}

.input {
    width: auto;
    height: 40px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 1px 2px 2px rgb(230, 230, 230);
    padding: 0 20px;
    outline: none;
    font-size: 100%;
    color: gray;
    margin: 0 0 20px 0;
}

.input::placeholder {
    color: rgb(180, 180, 180);
}

.button {
    border: none;
    border-radius: 20px;
    background-color: rgba(2, 181, 137, 1);
    color: white;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    height: 40px;
    margin: 20px 0;
}

.title {
    color: rgba(2, 181, 137, 1);
    font-size: 30px;
    font-weight: 700;
}

.text {
    color: black;
    margin: 10px 20px;
}

.greenText {
    color: rgba(2, 181, 137, 1);
}

.underLine {
    text-decoration: underline;
    cursor: pointer;
}